@model SimpleMVCATM.Models.Account

@{
    ViewData["Title"] = "Check Balance";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header text-center">Check Balance</div>

        <div class="card-body">
            <p>Account Number: @Model.AccNumber</p>
            <p>Account Holder's Name': @Model.AccHolderName</p>

            <p>Available Balance: @Model.Balance</p>

            <a asp-action="Index" class="btn btn-primary">Back to ATM</a>
        </div>
    </div>
</div>